.navbar-brand {
    font-size: 35px;
    font-family: Courier, monospace;
}


/* 
#first {
    margin: 20px;
}

#first {
    margin-top: 50px;
}

.row p {
    margin-right: 20%;
    margin-left: 20%;
} */

.navbar {
    position: sticky;
    top: 0;
    z-index: 1000;
}

#menu li {
    display: inline;
    list-style-type: none
}

.first {
    margin: 20px;
}

.first img {
    width: 100%;
    margin: 20px;
}

.first h1 {
    font-size: 90px;
    font-family: impact, fantasy;
}

.first p {
    font-size: 30px;
    font-family: Apple Chancery;
}

#first-body {
    margin: 5px;
}

#third {
    margin-top: 10px;
}

#third h1 {
    font-size: 90px;
    font-family: impact, fantasy;
}

#third-p {
    font-size: 30px;
    font-family: Apple Chancery;
}

.image {
    width: 50%;
}

#back-img {
    height: 550px;
    width: 100%
}

#back-img p {
    color: white;
    font-size: 25px;
    text-align: center;
}