.navbar-brand {
    font-size: 35px;
    font-family: Courier, monospace;
}


/* 
#first {
    margin: 20px;
}

#first {
    margin-top: 50px;
}

.row p {
    margin-right: 20%;
    margin-left: 20%;
} */

.first {
    margin-top: 50px;
}

.first img {
    width: 90%;
}

.first h1 {
    font-size: 100px;
}

.first p {
    font-size: 30px;
}

#third {
    margin-top: 20px;
    border: solid black 2px;
}

.image {
    width: 50%;
}